html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-size: cover;
	transition: background 1s ease-in-out;
	
	
}
a {
    text-decoration: none;
    cursor: pointer;
	font-size: 13px;
	filter: invert(1);

}
.containerHeaderClock{
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 50px
}
.containerMainClock{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 30px 150px 30px;
    padding: 35px;
	gap: 50px;
	color: white;
}
.firstMessage, .message {
	font-size: 55px;
	 
}
.clock {
	font-size: 100px;
	
}
.date {
	font-size: 65px;
	
}
.containerFooter{
	display: flex;
    justify-content: end;
    gap: 70px;
    border-bottom: 2px solid white;
    width: 75%;
    padding-bottom: 6px;
}
.containerMainPass{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	filter: invert(1);	
}
.footer {
	
    display: flex;
    justify-content: end;
    position: absolute;
    width: 70%;
    right: 50px;
    bottom: 50px;
}
.pass, .passForm, .formPass {
	padding: 25px
}
.pass{
	display: flex;
	gap: 15px;
	align-items: center;
	font-size: 45px;
}
.passForm{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
}
.labelPass {
	font-size: 25px;
}
.formPass {
	filter: invert(1);
}
.inputPass {
	border-radius: 20px;
	height: 35px;
	font-size: 15px;
}
.buttonPass{
	border-radius: 20px;
	height: 45px;
	font-size: 15px;
}
.showPass, .passNumber{
	font-size: 19px;
}